<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-5">
    <div row>
      <section class="user_info">
        <div class="media">
          <div class="media-left media-middle">
            <%= image_tag @user.profile_image.url(:square_md), id: "profile-picture", class: "media-object" %>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><%= @user.name %></h4>
            <p class="member-since">Member since: <%= date_format(@user.created_at) %></p>
            <ul class="list-group">
              <li class="list-group-item">
                <span class="badge"><%= @user.fishing_trips.count %></span>
                Fishing Trips
              </li>
              <li class="list-group-item">
                <span class="badge"><%= @user.fish_catches.count %></span>
                Fish Caught
              </li>
            </ul>
          </div>
        </div>
      </section>
      <% if @user == current_user %>
        <%= form_for @user, url: users_profile_image_path(@user.id), remote: true, authenticity_token: true, html: {id: "edit_profile_image" } do |f| %>
            <%= f.label :profile_image, "choose image", class: "btn btn-default btn-align img-button" %>
            <%= f.file_field :profile_image, accept: 'image/png,image/jpeg' %>
            <%= f.submit "upload", class: "btn btn-default btn-align profile-image-upload-button", style: "display: none;" %>
        <% end %>
      <% end %>
    </div>
    <div row>
      <%= render 'fish_catches/fish_table' %>
    </div>
  </aside>
  <div class="col-md-5 col-md-offset-1">
      <div>
        <h3>
        <% if current_user?(@user) %>
          <%= link_to new_fishing_trip_url, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <% end %>
        <% end %>
          Fishing Trips
        </h3>  
      </div>
    <% if @user.fishing_trips.any? %>
      <ol class="fishing-trips">
        <%= render @fishing_trips %>
      </ol>
      <%= will_paginate @fishing_trips %>
    <% end %>
  </div>
</div>

