<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-5">
    <div row>
      <section class="user_info">
        <h1>
          <%= @user.name %>
        </h1>
        <%= image_tag @user.profile_image.url(:square) %>
      </section>
      <% if @user == current_user %>
        <%= form_for @user, url: users_profile_image_path(@user.id), remote: true, authenticity_token: true do |f| %>
            <%= f.file_field :profile_image, accept: 'image/png,image/jpeg' %>
            <%= f.submit "upload", class: "profile-image-upload-button", style: "display: none;" %>
        <% end %>
      <% end %>
    </div>
    <div row>
      <%= render 'fish_catches/fish_table' %>
    </div>
  </aside>
  <div class="col-md-5 col-md-offset-1">
    <% if @user.fishing_trips.any? %>
      <h3>Fishing Trips</h3>
      <ol class="fishing-trips">
        <%= render @fishing_trips %>
      </ol>
      <%= will_paginate @fishing_trips %>
    <% end %>
  </div>
</div>

