<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <sectoin class="user_info">
     <h1>
       <%= gravatar_for @user %>
       <%= @user.name %>
     </h1>
    </sectoin>
  </aside>
  <div class="col-md-8">
    <% if @user.fishing_trips.any? %>
      <h3>Fishing Trips <%= @user.fishing_trips.count %></h3>
      <ol class="fishing-trips">
        <%= render @fishing_trips %>
      </ol>
      <%= will_paginate @fishing_trips %>
    <% end %>
  </div>
</div>

