<h1>Top Catches</h1>
<table class="table table-hover table-bordered top-fish">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">
        <select id="top-fish-sort-field" class="btn">
          <option data-id="weight">Weight</option>
          <option data-id="length">Length</option>
        </select>
      </th>
      <th scope="col">
        <select id="top-fish-species-field" class="btn">
          <option>Species</option>
          <% FishType.all.each do |fish_type| %>
          <option data-id="<%= fish_type.id %>"><%= fish_type.name %></option>
          <% end %>
        </select>
      </th>
      <th scope="col">Angler</th>
    </tr>
  </thead>
  <tbody class="top-fish-body">
    <% @top_fish.each_with_index do |fish, index| %>
      <tr id="fish-<%= index + 1 %>">
        <th scope="row"><%= link_to "##{index + 1}", fishing_trip_url(fish.fishing_trip)%></th>
        <td><%= fish.weight %></td>
        <td><%= fish.fish_type.name %></td>
        <td><%= link_to fish.user.name, fish.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>