<div class="page-header fishing-trip-header">
  <div class="row">
    <div class="col-md-5 col-md-offset-4">
      <div class="media text-center">
        <div class="media-right media-middle">
          <%= link_to image_tag(@fishing_trip.user.profile_image.url(:thumbnail), class: "media-object img-circle"),user_path(@fishing_trip.user) %>
        </div>
        <div class="media-body">
          <h1 class="media-heading"><%= @fishing_trip.title %></h1>
          <p><%= @fishing_trip.user.name %></p>
          <p>Posted <%= time_ago_in_words(@fishing_trip.created_at) %> ago.</p>
        </div>
      </div>
    </div>
  </div>
  <% if current_user == @fishing_trip.user %>
    <%= link_to "Edit", edit_fishing_trip_path(@fishing_trip), class: "btn btn-primary" %>
  <% end %>
</div>

<div class="row fishing-trip-body">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Fishing Trip Summary</h3>
      </div>
      <div class="panel-body">
        <%= @fishing_trip.content %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <li class="list-group-item text-center">
        DETAILS
      </li>
      <li class="list-group-item">
        Weather: <%= @fishing_trip.weather %>
      </li>
      <li class="list-group-item">
        Body of Water: <%= @fishing_trip.body_of_water %>
      </li>
      <li class="list-group-item">
        Location: <%= @fishing_trip.location %>
      </li>
      <li class="list-group-item">
        Date: <%= @fishing_trip.date %>, <%= @fishing_trip.start_time.strftime("%H:%M") %> - <%= @fishing_trip.end_time.strftime("%H:%M") %>
      </li>
    </ul>
  </div>
</div>

<% if @fishing_trip.fish_catches.exists?  %>
  <%= render 'fish_catches/fish_catch_carousel' %>
<% end %>

<div class="row equal">
  <div class="col-md-1">
    <button type="button" id="add-fish-catch" class="btn btn-default btn-sm btn-align">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Fish
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-10" id="fish-catch-form" style="display: none;">
    <%= render 'fish_catches/form' %>
  </div>
</div>


