<%= render 'header' %>

<div class="row fishing-trip-body">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Fishing Trip Summary</h3>
      </div>
      <div class="panel-body">
        <%= @fishing_trip.content %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
      <li class="list-group-item text-center">
        DETAILS
      </li>
      <li class="list-group-item">
        Weather: <%= @fishing_trip.weather %>
      </li>
      <li class="list-group-item">
        Body of Water: <%= @fishing_trip.body_of_water %>
      </li>
      <li class="list-group-item">
        Location: <%= @fishing_trip.location %>
      </li>
      <li class="list-group-item">
        Date: <%= @fishing_trip.date %>, <%= @fishing_trip.start_time.strftime("%H:%M") %> - <%= @fishing_trip.end_time.strftime("%H:%M") %>
      </li>
    </ul>
  </div>
</div>

<% if @fishing_trip.fish_catches.exists?  %>
  <%= render 'fish_catches/fish_catch_carousel' %>
<% end %>




